/* WEBSITE VARIABLES*/
//Colors
$pink: #e4654d;
$blue: #304269;
$main-purple: #542D6A;
$main-yellow: #D2B94B;

//Grid breakpoints
//Define the minimun dimensions at which your layout will change,
//adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  sm: 0,
  md: 401px,
  lg: 901px,
  xl: 1201px,
  xxl: 1600px
);
